.portada {
    color:red;
    
    font-family: 'Monoton', cursive;
    font-size: 6rem;
    text-shadow: 4px 4px 0px black; 
    height: 250px;
    background: url('../img/portada.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0, 0.70);
    background-blend-mode: darken;
}

a{
    font-size: 20px;
    color: black;
}


h1{
    font-size: 4rem;
}

.cover-small{
   height: 200px;
   background-blend-mode: normal;
   background-size: cover;
}

.card-title{
    min-height: 3rem;
}

body{
    background: url('../img/body.jpg');
    font-family: 'Lobster', cursive;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0, 0.50);
    background-blend-mode: darken;
}


.card{
    box-shadow: 3px 3px 0px black;
    margin-bottom: 30px;
    
}

.btn-primary{
    background-color: red;
    border-color:red;
   
   
}



.item{
    color: red;
    text-shadow: 4px 4px 0px black ;
    width: 300px;
    height: 300px;
  

}

.Desprod{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-shadow: none;
    font-size: 15px;
   
}
h4{
     text-shadow: none;

}

.shopping-cart{
    color: red;
}

.item-details{
    float: right;
    text-align: end;
}


.pie{
    color:red;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    height: auto;
    background-color: black;
    margin-top: 5px;
    text-align: center;
}


.foot{
    margin-bottom: 0px;
}
.SyH{
    text-align: center;
    margin-top: 0px;


}

#red{
    color: red;
}

#red:hover{
    color: white;
}
 